USE [master]
GO
/****** Object:  Database [ApartmanDB]    Script Date: 2.05.2026 21:39:46 ******/
CREATE DATABASE [ApartmanDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ApartmanDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ApartmanDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ApartmanDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ApartmanDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ApartmanDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ApartmanDB]
GO
/****** Object:  Table [dbo].[Aidatlar]    Script Date: 2.05.2026 21:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aidatlar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ay] [int] NULL,
	[Yil] [int] NULL,
	[Tutar] [decimal](10, 2) NULL,
	[SonOdemeTarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borclar]    Script Date: 2.05.2026 21:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borclar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DaireId] [int] NULL,
	[AidatId] [int] NULL,
	[Tutar] [decimal](10, 2) NULL,
	[OdendiMi] [bit] NULL,
	[OdemeTarihi] [date] NULL,
	[Ay] [int] NOT NULL,
	[Yil] [int] NOT NULL,
	[Durum] [nvarchar](20) NOT NULL,
	[SonOdemeTarihi] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Daireler]    Script Date: 2.05.2026 21:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Daireler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DaireNo] [nvarchar](10) NULL,
	[Kat] [int] NULL,
	[AdSoyad] [nvarchar](100) NULL,
	[Telefon] [nvarchar](20) NULL,
	[Durum] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Resim] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Duyurular]    Script Date: 2.05.2026 21:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Duyurular](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](150) NULL,
	[Icerik] [nvarchar](max) NULL,
	[Tarih] [datetime] NULL,
	[YoneticiId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GecmisOdemeler]    Script Date: 2.05.2026 21:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GecmisOdemeler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BorcId] [int] NULL,
	[DaireId] [int] NOT NULL,
	[Ay] [int] NOT NULL,
	[Yil] [int] NOT NULL,
	[Tutar] [decimal](18, 2) NOT NULL,
	[OdemeTarihi] [datetime] NULL,
	[Aciklama] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 2.05.2026 21:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NULL,
	[Sifre] [nvarchar](50) NULL,
	[Rol] [nvarchar](20) NULL,
	[DaireId] [int] NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Aidatlar] ON 

INSERT [dbo].[Aidatlar] ([Id], [Ay], [Yil], [Tutar], [SonOdemeTarihi]) VALUES (4, 5, 2026, CAST(500.00 AS Decimal(10, 2)), CAST(N'2026-04-13' AS Date))
SET IDENTITY_INSERT [dbo].[Aidatlar] OFF
GO
SET IDENTITY_INSERT [dbo].[Daireler] ON 

INSERT [dbo].[Daireler] ([Id], [DaireNo], [Kat], [AdSoyad], [Telefon], [Durum], [Email], [Resim]) VALUES (24, N'12', 3, N'samet tuncer', N'5519371834', N'Ev Sahibi	', N'tuncersamet680@gmail.com', N'C:\Users\ASUS\OneDrive\Desktop\mosque-8328078_1280.jpg')
INSERT [dbo].[Daireler] ([Id], [DaireNo], [Kat], [AdSoyad], [Telefon], [Durum], [Email], [Resim]) VALUES (25, N'1', 1, N'jkjl', N'656', N'Ev Sahibi	', N'nmacit.015@gmail.com', N'C:\Users\ASUS\OneDrive\Desktop\mosque-8328078_1280.jpg')
INSERT [dbo].[Daireler] ([Id], [DaireNo], [Kat], [AdSoyad], [Telefon], [Durum], [Email], [Resim]) VALUES (40, N'12', 3, N'Şeyma ', N'464512315', N'Ev Sahibi	', N'seynur2501@gmail.com', N'C:\Users\ASUS\OneDrive\Desktop\mosque-8328078_1280.jpg')
SET IDENTITY_INSERT [dbo].[Daireler] OFF
GO
SET IDENTITY_INSERT [dbo].[Duyurular] ON 

INSERT [dbo].[Duyurular] ([Id], [Baslik], [Icerik], [Tarih], [YoneticiId]) VALUES (5, N'merhaba', N'bu bir denemedir', CAST(N'2026-04-14T21:25:26.687' AS DateTime), NULL)
INSERT [dbo].[Duyurular] ([Id], [Baslik], [Icerik], [Tarih], [YoneticiId]) VALUES (6, N'selam', N'deneme', CAST(N'2026-04-28T17:07:55.937' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Duyurular] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([Id], [KullaniciAdi], [Sifre], [Rol], [DaireId], [Email]) VALUES (5, N'Ahmet Kaya', N'123', N'Kullanici', 2, NULL)
INSERT [dbo].[Kullanicilar] ([Id], [KullaniciAdi], [Sifre], [Rol], [DaireId], [Email]) VALUES (8, N'as', N'34edf0c8', N'Kullanici', 0, NULL)
INSERT [dbo].[Kullanicilar] ([Id], [KullaniciAdi], [Sifre], [Rol], [DaireId], [Email]) VALUES (9, N'sad', N'625c1bbc', N'Kullanici', 0, NULL)
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
GO
ALTER TABLE [dbo].[Borclar] ADD  DEFAULT ((0)) FOR [OdendiMi]
GO
ALTER TABLE [dbo].[Borclar] ADD  DEFAULT ((1)) FOR [Ay]
GO
ALTER TABLE [dbo].[Borclar] ADD  DEFAULT ((2024)) FOR [Yil]
GO
ALTER TABLE [dbo].[Borclar] ADD  DEFAULT ('Ödenmedi') FOR [Durum]
GO
ALTER TABLE [dbo].[Borclar] ADD  DEFAULT (getdate()) FOR [SonOdemeTarihi]
GO
ALTER TABLE [dbo].[Duyurular] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[GecmisOdemeler] ADD  DEFAULT (getdate()) FOR [OdemeTarihi]
GO
ALTER TABLE [dbo].[Borclar]  WITH CHECK ADD FOREIGN KEY([AidatId])
REFERENCES [dbo].[Aidatlar] ([Id])
GO
ALTER TABLE [dbo].[Borclar]  WITH CHECK ADD FOREIGN KEY([DaireId])
REFERENCES [dbo].[Daireler] ([Id])
GO
USE [master]
GO
